- title("#{current_user.name} #{@room.name} room")
.chat_body
  .chat_content#chat_content
    %h4.room_name= "#{@room.name} room"

    .messages_in_room
      = render 'messages/messages_in_room', room: @room

  = render 'messages/new_message', user: current_user, room: @room, message: @room.messages.build
