- title("#{current_user.name} #{@room.name} room")
.jumbotron.col-md-6
  %h4= "#{@room.name} room"
  = render 'messages/messages_in_room', room: @room

.col-md-6
  = render 'rooms/rooms', rooms: @rooms