- title("#{current_user.name} #{@room.name} room")
.jumbotron.col-md-6
  %h4= "#{@room.name} room"
  = render 'messages/messages_in_room', room: @room

  = render 'messages/new_message', user: current_user, room: @room, message: @room.messages.build

.col-md-6
  = render 'rooms/rooms', user: current_user, rooms: @rooms